<div style="margin-top: -105px;">
	<div class="row justify-content-md-center align-content-center text-center">
		<div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
			<i class="bi bi-hdd-stack-fill"></i>
			<h3>Back-end</h3>
			<p>
				Trabajo...
			</p>
			<p class="text-primary cabecera">
				Stack:
			</p>
			<p>
				ASP.NET, SQL Server, PostgreSQL, Ruby, Python, C#
			</p>

			<p class="text-primary cabecera">
				Experiencia
			</p>

			<ul>
				<li>ASP.NET Core MVC</li>
				<li>Aplicaciones web con Ruby on Rails</li>
				<li>ML con Python</li>
			</ul>
		</div>

		<div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
			<i class="bi bi-file-earmark-code-fill"></i>
			<h3>Front-end</h3>
			<p>
				Trabajo...
			</p>
			<p class="text-primary cabecera">
				Stack:
			</p>
			<p>
				JavaScript, Stimulus JS, Tailwind CSS, Bootstrap
			</p>

			<p class="text-primary cabecera">
				Experiencia
			</p>

			<ul>
				<li>ASP.NET Core MVC</li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
</div>