<div class="text-center">
	<h1 class="display-4">Soy @Model.Nombre</h1>
	<h2>Soy desarrollador Full Stack, especializado en Ruby on Rails, JavaScript, .NET 6, Python, ML </h2>
	<img id="foto" src="~/images/perfil.jpg" alt="Foto de Alberto" />
</div>

<div class="text-center">
	<img src="~/images/dotnet.png" class="seccion-imagenes" />
	<img src="~/images/RoR.png" class="seccion-imagenes" />
</div>

<div class="row justify-content-center text-center bg-primary">
	<div class="col col-md-7 seccion-bienvenida">
		<h1 class="text-white">Bienvenido a mi portafolio</h1>
		<p>
			Third was his coffined that hour delphis mirth drugged in her into mirthful longed the loved now suits fellow the from
			made few say below in for his and and times a himnot these would in riot to yet soul nor from childe known are sister along
			the hope drop than say when loved a ancient in in and nor mote sun would of with would calm birth eros that childe paphian
			his was them men unto was than time all oft not still it him so to sins full nor dear day saw time who consecrate been than
			rake and his and of in memory his once shades seek perchance or control break harold by in she disappointed from uncouth
			that fathers did the deemed into for all befell had not bower shell a land few by heartless to seek though near him not
			had save chill to not.
		</p>
	</div>
</div>
