@* Se tiene una coleccion de proyectos *@
@model IEnumerable<Proyecto>

@if (Model is not null)
{
	<div class="text-center" style="padding-top: 6rem;">
		<h1>Trabajos recientes</h1>
		<p>Aquí verás los trabajos más recientes</p>
	</div>

	<partial name="_ListadoProyectos" model="Model" />
}
