@* Tipo de dato a recibir en la vista *@
@using Portfolio.Models
@model HomeIndexViewModel

@{
	ViewData["Title"] = "Home Page";
}

<h2>Ejemplo 1</h2>
<div>
	Guid transitorio <strong>@Model.EjemploGUID_1.Transitorio</strong>
</div>
<div>
	Guid delimitado <strong>@Model.EjemploGUID_1.Delimitado</strong>
</div>
<div>
	Guid unico <strong>@Model.EjemploGUID_1.Unico</strong>
</div>

<partial name="_Presentacion" />

<partial name="_Habilidades" />

<partial name="_Proyectos" model="Model.Proyectos"/>