@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Alberto</h1>
    <h2>Soy Desarrollador Full Stack, especializado en Ruby on Rails, JavaScript, .NET 6, Python </h2>
    <img src="~/images/perfil.jpg" alt="Foto de Alberto" style="width: 200px; margin: 2rem 0; border-radius: 40%;" />
</div>
